.app {
  padding: 0;
  justify-content: center;
  .mx-auto {
    .padding {
      padding: 2%;
    }
  }
}
tr {
  .table_footer {
    background-color: yellowgreen;
    text-align: center;
  }
}
.repeating-gradient {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 230, 0, 0.25),
    rgba(255, 0, 0, 0.25) 5px,
    rgba(0, 0, 255, 0.25) 5px,
    rgba(0, 0, 255, 0.25) 10px
  );
}
