body {
  background-color: #fafafa;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(63, 203, 98, 0);
  box-shadow: inset 0 0 0 1000px rgba(63, 203, 98, 0);
  zoom: 100%;
 
}

.form{
  background-color: white !important;
}
