.notched {
    margin-top: 40px;
    contain: initial;
    overflow: visible;
  }
  .notched::before {
    position: absolute;
    content: "";
    top: 0;
    right: 10px;
    transform: translateY(-100%);
    width: 10px; 
    height: 13px; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid rgb(81, 6, 6);
  }