.app{
    padding: 0;
    justify-content: center;
    .mx-auto{
        .padding{
            padding: 2%;
        }
    }
}
tr{
    .table_footer{
        background-color: yellowgreen;
        text-align: center;
    }
}
